{% extends "layout.html.twig" %}

{% block sidebar %}
    {{ include('logout_sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <div class="error">Internal server error.</div>
{% endblock %}
