.sidebar .user-info {
    background: url(/img/header.jpg); 
    background-repeat: no-repeat no-repeat;
    background-size:     cover; 
    background-position: center center; 
}

.tenis_result div div {
    display: inline-block;
}

.result_games {
    width: 5%;
    text-align: center;
}

.result_player {
    width: 70%;
}

.winner {
    font-weight: bold;
}

#formulario_resultado .btn-group.bootstrap-select.juegos {
    width: 70px;
}

form#formulario_resultado {
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 5px;
}

#formulario_resultado .submit {
    text-align: right;
}
