<div class="menu">
    <ul class="list">
        <li class="header">MENÚ PRINCIPAL</li>
        <li class="active">
            <a href="index.html">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="admin/players">
                <i class="material-icons">group</i>
                <span>Usuarios</span>
            </a>
        </li>
        <li>
            <a href="admin/league">
                <i class="material-icons">golf_course</i>
                <span>Ligas</span>
            </a>
        </li>
        <li>
            <a href="admin/courts">
                <i class="material-icons">map</i>
                <span>Pistas</span>
            </a>
        </li>
    </ul>
</div>