{% extends "layout.html.twig" %}

{% block sidebar %}
    {% if is_granted('ROLE_USER') %}
        {{ include('logout_sidebar.html.twig') }}
    {% else %}
        {{ include('sidebar.html.twig') }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/gl_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-like-box" data-href="https://www.facebook.com/pages/Club-tenis-EDM-Salceda/546914465384980" data-width="700" data-height="850" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true" style="background-color:#eee;"></div>
{% endblock %}