{% extends "layout.html.twig" %}

{% block sidebar %}
    {{ include('logout_sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <h1>Editar datos de Jugador.</h1>
    {{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': 'formulario'}}) }}
    {{ form_end(form) }}
{% endblock %}