{% extends "sidebar.html.twig" %}

{% block login_form %}
    <div class="login-box">
        <div class="title">Acceder</div>
        <form action="{{ path('login_check') }}" method="post">
            {% if(error) %}
            <div class="mensaje_error">{{ error }}</div>
            {% endif %}
            
            <label for="_username">Usuario</label>
            <input type="text" name="_username" value="{{ last_username }}"/>
            
            <label for="_password">Contraseña</label>
            <input type="password" name="_password" value=""/>
            
            <input type="submit" id="entrar" name="entrar" value="entrar"/>
            
            <div class="forgotten">
                <a href="#">Has olvidado tu contraseña</a>
            </div>
        </form>
    </div>
{% endblock %}
