<div class="sidebar_container">       
    <div class="sidebar">
        <div class="sidebar_item">
            <p>Bienvenidos a la página web del Club de Tenis EDM Salceda de Caselas.</p>
        {% block login_form %}{% endblock %}
        <div id="fb-root"></div>
        {% if(not global.debug) %}
        {{ include('facebook_script.html.twig') }}
        {% endif %}
    </div>
</div>
</div>
